/* Contact Animation */

#contact,
#about {
  animation: growIn 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transform: scale(0.5);
}

@keyframes growIn {
  to {
    transform: scale(1);
  }
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 80%;
  left: 80%;
}

.loader::before,
.loader::after {
  content: "";
  border: 7px solid #3ec9c9;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before {
  animation-delay: 1s;
}

@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
}

button:hover {
  color: #516d91;
  background-color: #e5edf5;
}

button:active {
  box-shadow: none;
}
